.d-none {
  display: none !important;
}

.display-root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content-pattern {
  max-width: calc(min(80vw, 40rem));
  min-width: calc(min(80vw, 40rem));
  width: calc(min(80vw, 40rem));
}

.lig4-size {
  max-width: calc(min(95vw, 60rem));
  min-width: calc(min(95vw, 60rem));
  width: calc(min(95vw, 60rem));
}

.game {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-background);

  @extend .display-root;
  justify-content: flex-start;

  &__header {
    margin: 1.5rem 0 3rem;
    position: relative;

    flex-direction: row;
    justify-content: space-between;

    @extend .display-root;
    @extend .content-pattern;

    &__chat {
      z-index: 5;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      position: relative;

      border-radius: 3rem;
      background-color: #fff;
      box-shadow: var(--drop-shadow);

      @extend .display-root;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }

      &.has-message {
        &::before {
          content: "";

          left: 2rem;
          top: -0.25rem;
          width: 1rem;
          height: 1rem;
          position: absolute;

          border-radius: 2rem;
          box-shadow: var(--button-shadow);
          background-color: var(--color-primary);
        }
      }
    }

    &__title {
      width: calc(98% - 2.5rem);

      flex-direction: row;
      justify-content: flex-end;
      @extend .display-root;
    }
  }

  &__content {
    padding: 0 0 4rem;
    position: relative;
    height: calc(99vh - (1.5rem + 3rem + 3rem));

    @extend .display-root;
    @extend .content-pattern;

    &__lig4 {
      height: 80%;

      @extend .display-root;
      @extend .lig4-size;
    }

    &__chat {
      .pkm-modal__content {
        &__title {
          width: 100%;
          text-align: center;
        }

        &__list {
          display: block;
          position: relative;

          flex: 1;
          width: 100%;
          overflow-y: auto;
        }

        &__input {
          width: 100%;
        }
      }
    }
  }

}