.d-none {
  display: none !important;
}

.display-root, .game__content .pokemon-cell, .game__content__lig4, .game__content, .game__header__title, .game__header__status, .game__header__chat, .game__header, .game {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content-pattern, .game__content, .game__header {
  max-width: min(95vw, 80rem);
  min-width: min(95vw, 80rem);
  width: min(95vw, 80rem);
}

.lig4-size, .game__content__lig4 {
  min-width: min(95vw, 80rem);
  width: min(95vw, 80rem);
}

.game {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-background);
  justify-content: flex-start;
}
.game__header {
  margin: 1.5rem 0 3rem;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}
.game__header__chat {
  z-index: 5;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  border-radius: 3rem;
  background-color: #fff;
  box-shadow: var(--drop-shadow);
}
.game__header__chat img {
  width: 1.5rem;
  height: 1.5rem;
}
.game__header__chat.has-message::before {
  content: "";
  left: 2rem;
  top: -0.25rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 2rem;
  box-shadow: var(--button-shadow);
  background-color: var(--color-primary);
}
.game__header__title {
  flex-direction: row;
  justify-content: flex-end;
}
.game__content {
  padding: 0 0 4rem;
  position: relative;
  height: calc(99vh - 7.5rem);
}
.game__content__lig4 {
  height: 85%;
}
.game__content__chat form {
  width: 100%;
}
.game__content__chat .pkm-modal__content__title {
  width: 100%;
  text-align: center;
}
.game__content__chat .pkm-modal__content__list {
  display: block;
  position: relative;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}
.game__content__chat .pkm-modal__content__input {
  width: 100%;
}
.game__content__message {
  width: 100%;
}
.game__content__message .pkm-modal__content__title {
  width: 100%;
  text-align: center;
}
.game__content__message .pkm-modal__content__text {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  color: var(--color-secondary);
  text-shadow: var(--small-shadow-red);
}
.game__content .pokemon-cell {
  position: relative;
  width: var(--cell-width);
  height: var(--cell-height);
  min-width: var(--cell-width);
  max-width: var(--cell-width);
  min-height: var(--cell-height);
  max-height: var(--cell-height);
}
.game__content .pokemon-cell img {
  max-width: 100%;
  max-height: 100%;
}
.game__content #game {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.game__content .game-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.game__content .board {
  display: grid;
  background: #222222;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
  grid-template-columns: repeat(7, var(--cell-width));
  grid-template-rows: repeat(6, var(--cell-height));
  border-radius: 6px;
}
.game__content .board-tile {
  position: relative;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__content .board-tile:hover {
  background: #ebebeb;
  transition: 0.5s;
}

/*# sourceMappingURL=game.page.css.map */
